<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Controlling a Smart socket and a bulb using IOT</h1>
        <p>Click the button below to toggle the smart socket and bulb.</p>
        <form action="/" method="post">
            <input name="on_button" type="submit" value="Turn on Socket and bulb"/>
            <input name="off_button" type="submit" value="Turn off Socket and bulb"/>
        </form>
    </div>
</body>
</html>